@media only screen and (min-width: 768px) {
    .main-grid {
        display:grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(12, 5vw);
        column-gap: 0;
        row-gap: 0;
        padding:0px;
        align-content: inherit;
        background-image: url(/images/sankyo-7-background-desktop.jpg);
        background-size: contain;
    }

    .main-grid img {
        display: inherit;
        max-height:100%;
        max-width:100%;
    }
    .main-grid div {
        align-content: inherit;
    }


    .detail {
        background-size:100% 100%;
        display:none;
        color:white;
    }
    .detail-text {
        padding: 10%;
        padding-top:5%;
        padding-left:45%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
    }



    #momo-joanie{
        grid-column: 8/ span 3;
        grid-row: 5 / span 2;
    }
    #momo-joanie-bubble{
        grid-column: 10 /span 7;
        grid-row: 4/ span 4;
    }
    #momo-joanie:hover + #momo-joanie-bubble{
        display:block;
        background-image: url(/images/Bmomojoanie.png);
    }
    #momo-joanie-bubble:hover {
        display: block;
        background-image: url(/images/Bmomojoanie.png);

    }


    
    

    #ron{
        grid-column: 6/ span 2;
        grid-row: 5 / span 3;
    }
    #ron-bubble{
        grid-column: 8 /span 7;
        grid-row: 5/ span 4;
    }
    #ron:hover + #ron-bubble{
        display:block;
        background-image: url(/images/Bron.png);
    }
    #ron-bubble:hover {
        display: block;
        background-image: url(/images/Bron.png);

    }
    
    #paperboy{
        grid-column: 5/ span 3;
        grid-row: 8 / span 3;
    }
    #paperboy-bubble{
        grid-column: 7 /span 7;
        grid-row: 7/ span 3;
    }
    #paperboy:hover + #paperboy-bubble{
        display:block;
        background-image: url(/images/Bpaperboy.png);
    }
    #paperboy-bubble:hover {
        display: block;
        background-image: url(/images/Bpaperboy.png);

    }

    #thomasnoahtheo{
        grid-column: 3/ span 3;
        grid-row: 5 / span 7;
    }
    #thomasnoahtheo-bubble{
        grid-column: 6 /span 6;
        grid-row: 5/ span 4;
    }
    #thomasnoahtheo:hover + #thomasnoahtheo-bubble{
        display:block;
        background-image: url(/images/Bthomasnoahtheo.png);
    }
    #thomasnoahtheo-bubble:hover {
        display: block;
        background-image: url(/images/Bthomasnoahtheo.png);

    }

    #janeraf{
        grid-column: 8/ span 3;
        grid-row: 7 / span 3;
    }
    #janeraf-bubble{
        grid-column: 11 /span 8;
        grid-row: 7/ span 4;
    }
    #janeraf:hover + #janeraf-bubble{
        display:block;
        background-image: url(/images/Bjaneraf.png);
    }
    #janeraf-bubble:hover {
        display: block;
        background-image: url(/images/Bjaneraf.png);

    }

    #jessejustin{
        grid-column: 13/ span 3;
        grid-row: 5 / span 7;
    }
    #jessejustin-bubble{
        grid-column: 14 /span 10;
        grid-row: 7/ span 4;
    }
    #jessejustin:hover + #jessejustin-bubble{
        display:block;
        background-image: url(/images/Bjessejustin.png);
    }
    #jessejustin-bubble:hover {
        display: block;
        background-image: url(/images/Bjessejustin.png);

    }

    #lyla-isabel{
        grid-column: 11/ span 2;
        grid-row: 6 / span 5;
    }
    #lyla-isabel-bubble{
        grid-column: 12 /span 8;
        grid-row: 5/ span 4;
    }
    #lyla-isabel:hover + #lyla-isabel-bubble{
        display:block;
        background-image: url(/images/Blylaisabel.png);
    }
    #lyla-isabel-bubble:hover {
        display: block;
        background-image: url(/images/Blylaisabel.png);

    }

}