.main-grid {
    display:grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 6vw);

    column-gap: 0;
    row-gap: 0;
}

.footer {

}

.game-the-finch-title{
    background: url('./image.jpg');
    background-size:cover;
    grid-column: 8/12;
    height:fit-content;
    grid-row: span 3;
}
.maude-music-videos{
    background: url('./image.jpg');
    background-size:cover;
    grid-column: 4/6;
}
.documentaries{
    background: url('./image.jpg');
    background-size:cover;
    grid-column: 7/9;
}