.main-grid {
    display:grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 5vw);
    column-gap: 0;
    row-gap: 0;
}
body {
    background-color: black;
    margin:0px;
}

img{ 
    max-width: 100%;
    max-height: 100%;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
}

.social-media > div > img {
    justify-content: center;
    align-content: center;
    max-height: 40px;
}

.social-media {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 2vw;
    background-color: white;
    font-size: 30px;
    max-height:40px
}

#built-by-pierre {
    display: grid;
    background-color: black;
    color:white;
    font-size: 1.2rem;
    justify-content: center;
}



.detail {
    background-image: url(/images/bubble.png);
    background-size:100% 100%;
    display:none;
    color:white;
}
.detail-text {
    padding: 15%;
    padding-top:5%;
}

#sankyo-stream:hover + #sankyo-stream-detail{
    display:block;
}

#sankyo-stream-detail:hover {
    display:block;
}
#music-videos:hover + #music-videos-detail{
    display:block;
}

#music-videos-detail:hover {
    display:block;
}




#creative-production {
    grid-column: 10/ span 5;
    grid-row: 9/span 2;
}

#writings {
    grid-column: 3 /span 5;
    grid-row: 6 /span 4;
}

#music-videos{
    grid-column: 14 / span 4;
    grid-row: 7/span 4;
}
#music-videos-detail{
    grid-column: 16/span 4;
    grid-row: 6/span 3;
}

#sankyo-stream{
    grid-column: 14/span 4;
    grid-row: 5/ span 2;
}
#sankyo-stream-detail {
    grid-column:15/span 5;
    grid-row: 2/span 4;
}

#game-the-finch-title{
    background: url('./image.jpg');
    background-size:cover;
    grid-column: 7/13;
    grid-row: 4 /span 4;
}

#telling-george{
    grid-column: 2/span 5;
    grid-row:2 / span 4;
}


#fafdm{
    grid-column: 12/ span 4;
    grid-row: 1 / span 4;
}